.pages{
    margin: 10px 0;
}
.pages ul{
    list-style-type: none;
    display: flex;
}
.pages ul li{
    padding: 8px;
    background-color: #4CAF50;
    margin: 0 6px;
    color: white;
    font-size: 18px;
    font-weight: bolder;
}
